{{> inc/header}}


<form method="post" action="/employe/adoptant/add">

<div class="ui input">
<input type="text" placeholder="Complementad" name="complementad">
</div>

<div class="ui input">
<input type="text" placeholder="CP" name="cp">
</div>

<div class="ui input">
<input type="date" name="datenaiss">
</div>

<div class="ui input">
<input type="text" placeholder="Infos Complementaires" name="infocomplementaires">
</div>

<div class="ui input">
<input type="text" placeholder="Mail" name="mail">
</div>

<div class="ui input">
<input type="text" placeholder="Nom" name="nom">
</div>

<div class="ui input">
<input type="text" placeholder="prenom" name="prenom">
</div>

<div class="ui input">
<input type="text" placeholder="Numero & Rue" name="numeroetrue">
</div>

<div class="ui input">
<input type="text" placeholder="Tel Fixe" name="telfixe">
</div>

<div class="ui input">
<input type="text" placeholder="Tel Mobile" name="telmobile">
</div>

<div class="ui input">
<input type="text" placeholder="Ville" name="ville">
</div>

<button>Ajoute</button>
</form>


{{> inc/footer}}
