{{> inc/header}}


<form method="post" action="/employe/animal/add">

<div class="ui input">
<input type="date" name="dnaissance">
</div>

<div class="ui input">
<input type="text" placeholder="description" name="description">
</div>

<div class="ui input">
<input type="text" placeholder="couleur" name="couleur">
</div>

<select class="ui dropdown">
  <option value="">SOS ?</option>
  <option value="0">False</option>
  <option value="1">True</option>
</select>


<select class="ui dropdown">
  <option value="">Adopte ?</option>
  <option value="0">False</option>
  <option value="1">True</option>
</select>



<div class="ui input">
<input type="text" placeholder="frais" name="frais">
</div>

<div class="ui input">
<input type="text" placeholder="espece" name="idespece">
</div>

<div class="ui input">
<input type="text" placeholder="race" name="idrace">
</div>

<select class="ui dropdown">
  <option value="">Refuge</option>
  <option value="1">Caen</option>
  <option value="0">Marseille</option>
</select>

<select class="ui dropdown">
  <option value="">Sexe</option>
  <option value="1">Male</option>
  <option value="0">Femelle</option>
</select>

<div class="ui input">
<input type="text" placeholder="nom" name="nom">
</div>

<button>Ajoute</button>
</form>


{{> inc/footer}}
