{{> inc/header }}


<v-app>

<v-card flat tile>
<v-toolbar  extended dark dense >

      <v-toolbar-title>SpAnimals</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <a href="/board" icon>
        <v-icon>mdi-login</v-icon>
      </a>

      <v-menu
        bottom
        left
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            color="yellow"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="(item, i) in icons"
            :key="i"
          >
            <v-list-item-title><v-icon v-text="item.title"></v-icon></v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <template v-slot:extension>
        <v-tabs >
          <v-tab><a href="/animal">Adopter</a></v-tab>
          <v-tab>Informations</v-tab>
          <v-tab>Nous contacter</v-tab>
        </v-tabs>
      </template>
    </v-toolbar>


  <v-alert
      prominent
      type="error"
      class=" text-justify"
    >
       <div class="ml-16">
	      <h2>LES ADOPTIONS RESPONSABLES </h2>
	      <v-row>
	      <v-col cols="10">
	     <p>Vous souhaitez adopter un animal à la SPA ? Votre décision est mûrement réfléchie ? Vous pouvez consulter la liste de nos candidats à l’adoption en identifiant le refuge le plus proche de votre domicile. Repérez le ou les profils d’animaux qui vous correspondent, en fonction de votre mode de vie et de la composition de votre foyer.</p>
		 <p>Ensuite, le meilleur moyen de rentrer en contact avec le refuge est de lui adresser un e-mail à l’adresse que vous trouverez sur notre site la-spa.fr, en renseignant votre démarche d’adoption responsable et le profil d’animaux qui vous correspondrait. Nous vous conseillons d’indiquer votre numéro de téléphone pour qu’on vous rappelle plus rapidement. </p>
		 <p>Bonne chance dans votre démarche d’adoption responsable !</p>
		 <p class="font-weight-bold">OFFREZ-LEUR LA VIE QU'ILS MÉRITENT</p>
		 </v-col>
		 </v-row>   
	 </div>
   	 </v-alert>

<v-card  elevation="24">

<v-card-title><h2>Animaux disponible</h2></v-card-title>

<v-card-text>
<v-form method="post" action="search" >
	<v-container fluid>
		<v-row>
		<v-col cols="1">
			<v-select :items="espece" item-text="libelle" placeholder="especes" name="espece" filled return-object></v-select>
		</v-col>
	
		<v-col cols="1">
			<v-select :items="race" item-text="libelle" placeholder="races" name="race" filled return-object>
		</v-select>
		</v-col>
	
		<v-col cols="1">
			<v-select :items="refuges" item-text="nom" placeholder="refuges" name="refuges" filled return-object></v-select>
		</v-col>
	
		<v-col cols="1">
			<v-select :items="sexe" item-text="Sexe" placeholder="espece" name="sexe" filled return-object> </v-select>
		</v-col>
	
		<v-col cols="1">
		 <v-text-field
            v-model="nom"
            label="nom"
          ></v-text-field>
		</v-col>
	
		<v-col cols="1">
		 <v-text-field
            v-model="age"
            label="age"
          ></v-text-field>
		</v-col>
		
		<v-col cols="1">
		<v-button class="ui button">Rechercher</v-button>
		</v-col>
		</v-row>
		</v-container>
</v-form>
<v-card-text>

	


<br>
<p>Voir les animaux en detresse : </p><a class="negative ui button" href="/sos"> SOS <i class="heartbeat icon"></i></a>

{{#animaux}}
<div class="ui card">
  <div class="image">
    <img src="/images/chien.jpg">
  </div>
  <div class="content">
    <a class="header">{{nom}}</a>
    <div class="meta">
    {{#espece}}
      <span class="date">{{libelle}}</span>
     {{/espece}}
    </div>
    <div class="description">
      {{#refuge}}
      	Localisation : {{nom}}
      {{/refuge}}
    </div>
  </div>
  <div class="extra content">
    <a href="">
      <i class="eye icon"></i>
      Voir fiche animal
    </a>
  </div>
</div>
  {{/animaux}}
<v-card>

</v-app>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.9/vuetify.min.js"></script>
<script>
var app = new Vue({
	  el: 'v-app',
	  vuetify: new Vuetify(),
		    data: () => ({
		    	  icons: [
		              'mdi-facebook',
		              'mdi-twitter',
		              'mdi-linkedin',
		              'mdi-instagram',
		            ],
		            animal:[],
					refuges:[],
					espece:[],
					race:[],
					Sexe: [
						'male',
						'femelle'
					],
				
		    }),
		    mounted(){
				this.loadRefuges();
				this.loadEspece();
				this.loadRace();
				this.loadAnimal();
			},
		    
		    methods: {
				loadAnimal(){
						this.$http.get('/employe/animal').then((response)=>{
							this.animal=response.data;
							})
						},
		    	loadRefuges(){
					  this.$http.get('/employe/refuge').then((response)=>{
						  this.refuge=response.data;
					  })
				  },
				  loadEspece(){
					  this.$http.get('/employe/espece').then((response)=>{
						  this.espece=response.data;
					  })
				  },	
				  loadRace(){
					this.$http.get('/employe/race').then((response)=>{
						this.race=response.data;
					})
				},
		    },
	  delimiters: ['<%', '%>'],
	})

</script>


{{> inc/footer }}