{{> inc/header }}
<v-app>
  
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant.sync="mini"
      absolute
      permanent
      left
      dark
    >
    <v-icon class="d-flex justify-center mb-5 mt-5">mdi-view-dashboard</v-icon>
  
   <v-divider></v-divider>
  
      <v-list-item class="px-1">
        <v-list-item-avatar>
          <v-img src="https://images7.alphacoders.com/871/thumb-1920-871169.png"></v-img>
        </v-list-item-avatar>

        <v-list-item-title>Admin</v-list-item-title>

        <v-btn
          icon
          @click.stop="mini = !mini"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>

      <v-divider></v-divider>


      <v-list dense>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      

    </v-navigation-drawer>



    
    <v-container fluid >
      <v-row class="d-flex justify-center "   >
        <v-col
          v-for="card in cards"
          :key="card.title"
          :cols="card.flex"
        >
          <v-card :color="card.color" >
		 <v-list >
     	 	<v-list-item>
         		<v-list-item-icon>
          			<v-icon v-text="card.icon"></v-icon>
        		</v-list-item-icon>
        		<v-divider
  				vertical
  				class="mr-6"
				></v-divider>
        	<v-list-item-content>
        		<v-list-item-subtitle v-text="card.title"></v-list-item-subtitle>
          		<v-list-item-title v-text="card.chiffre"></v-list-item-title>
        	</v-list-item-content>
          </v-card>
        </v-col>
    </v-container>
    
    
    <v-container fluid >
      <v-row class="d-flex justify-center ">
        <v-col
          v-for="card in cardsAction"
          :key="card.title"
          :cols="card.flex"
        >
          <v-card max-heigth="500">
         <v-img :src="card.src"></v-img>
		<v-card-title v-text="card.title"></v-card-title>
		<v-btn text></v-btn>
          </v-card>
        </v-col>
        
        
    </v-container>
    
  
 
 


</v-app>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.9/vuetify.min.js"></script>
<script>

	var app = new Vue({
		  el: 'v-app',
		  vuetify: new Vuetify(),
			    data: () => ({
			    	cards: [
				          { title: 'Nombre de visite', icon:'mdi-eye', flex: 2, chiffre:'10', color : '#1E88E5' },
				          { title: 'Nombre inscrits', icon:'mdi-account-multiple',flex: 2, chiffre:'2', color : '#69F0AE'  },
				          { title: 'Nombre de recherche',icon:'mdi-magnify', flex: 2, chiffre:'0', color : '#CE93D8'  },
				          { title: 'Estmation navigation',icon:'mdi-navigation', flex: 4, chiffre:""},
				        ],
				    cardsAction: [
				          { title: 'Observation des adoptions', flex: 4},
				          { title: 'Nouveau : implementation CRUD', flex: 3, src:"https://1.bp.blogspot.com/-k1ORhC6_IsE/XmdOqDVKX6I/AAAAAAAAAB4/3ZOOVJEoU9I4DMYXUtd1fh0efqxV-yY2gCLcBGAsYHQ/s1600/crud.jpg"},
				          { title: 'Types de Visiteurs', flex: 3 },
					        ],
				        drawer: true,
				        items: [
				          { title: 'Home', icon: 'mdi-home-city' },
				          { title: 'My Account', icon: 'mdi-account' },
				          { title: 'Users', icon: 'mdi-account-group-outline' },
				        ],
				        mini: true,
			  
			    }),
		  delimiters: ['<%', '%>'],
		})
</script>
{{> inc/footer }}