{{> inc/header}}

<v-app >
<a class="ui primary flat button" action="/employe/animal/add" href="/employe/"><i class="home icon"></i>Accueil Employe</a>

  <v-form ref="form" v-model="valid" lazy-validation>
  
  	<v-text-field v-model="newAnimal.datenaiss" name="datenaiss" :rules="Rules" label="Date De Naissance"  required ></v-text-field>
  	
  	<v-text-field v-model="newAnimal.description" name="description" :rules="Rules" label="Description"  required ></v-text-field>
  	
  	<v-text-field v-model="newAnimal.couleur" name="couleur" :rules="Rules" label="Couleur"  required ></v-text-field>

  	<v-select v-model="newAnimal.sos" name="sos" :items="Alerte" item-text="sos" label="sos" required></v-select>
  	
  	<v-select v-model="newAnimal.adopte" name="adopte" :items="Adopte" item-text="adopte" label="Adopté" required></v-select>
  	
  	<v-text-field v-model="newAnimal.nom" :rules="Rules" label="nom"  required ></v-text-field>
  	
  	<v-text-field v-model="newAnimal.frais" :rules="Rules" label="Frais"  required ></v-text-field>
  	
  	<v-select v-model="newAnimal.espece" name="espece" :items="espece" item-text="libelle" label="Selectionner une espece" return-object required ></v-select>
  	
   	<v-select v-model="newAnimal.race" name="race" :items="race" item-text="libelle" label="Selectionner une race" return-object required ></v-select>
  	
  	<v-select v-model="newAnimal.refuge" name="refuge" :items="refuge" item-text="nom" label="Selectionner un refuge" return-object required ></v-select>
  	
  	<v-select v-model="newAnimal.sexe" name="sexe" :items="Sexe" label="Selectionner le sexe de l'annimal" return-object required ></v-select>

    <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate" @click="dialog = false" > Validate </v-btn>

    <v-btn color="error" class="mr-4" @click="reset">Reset Form</v-btn>

    <v-btn color="warning" @click="resetValidation">Reset Validation</v-btn>
  </v-form>

</v-app>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.9/vuetify.min.js"></script>
<script>
Vue.prototype.$http = axios;
var app = new Vue({
	  el: 'v-app',
	  vuetify: new Vuetify(),
		    data: () => ({
				animal:[],
				refuge:[],
				espece:[],
				race:[],
		    	dialog: {visible:false, mode:0},
		    	newAnimal: {datenaiss:"",description:"", couleur:"",sos:"",adopte:"",nom:"",frais:"",espece:"",race:"",refuge:"",sexe:""},
		    	valid: true,
		    	CpRules: '',
			      CpRules: [
			        v => !!v || 'champ obligatoire',
			        v => (v && v.length <= 5 && v.length >4) || 'le Code Postal doit être égal à 5 caractères',
			      ],
			      email: '',
			      emailRules: [
			        v => !!v || 'champ obligatoire',
			        v => /.+@.+\..+/.test(v) || 'E-mail doit être valide ',
			      ],
			      TelRules: [
				        v => !!v || 'champ obligatoire',
				        v => (v && v.length <= 10 && v.length >9) || 'le numéro de téléphone doit être égal à 10 caractères',
				      ],
				  Rules: [
					    v => !!v || 'champ obligatoire',
					  ],
				select: null,
				Alerte: [
			        { value: false,  sos: 'Non' },
			        { value: true,  sos: 'Oui' }
			      ],
			    Adopte: [
				    { value: false,  adopte: 'Non' },
				    { value: true,  adopte: 'Oui' }
				  ],
				Sexe: [
					'male',
					'femelle'
				],
			
				
			      checkbox: false,
		  
		    }),
		    mounted(){
				this.loadRefuge();
				this.loadEspece();
				this.loadRace();
				this.loadAnimal();
			},
		    
		    methods: {
				loadAnimal(){
						this.$http.get('/employe/animal').then((response)=>{
							this.animal=response.data;
							})
						},
		    	loadRefuge(){
					  this.$http.get('/employe/refuge').then((response)=>{
						  this.refuge=response.data;
					  })
				  },
				  loadEspece(){
					  this.$http.get('/employe/espece').then((response)=>{
						  this.espece=response.data;
					  })
				  },	
				  loadRace(){
					this.$http.get('/employe/race').then((response)=>{
						this.race=response.data;
					})
				},
				
				 validate(){
					  if(this.dialog.mode==0){
						  this.$http.post('/employe/add/animal', this.newAnimal).then((response)=>{
							  this.animal.push(response.data);
						  })
					  }else{
						  this.$http.put('/employe/edit/animal/{id}'+this.newAnimal.id, this.newAnimal).then((response)=>{
							  let index=this.animal.findIndex((item)=>item.id==this.newAnimal.id);
							  if(index!=-1){
								  this.animal[index]=this.newAnimal;
							  }
					  })
					  }
				  },
				
				 // validate () {
			       //   this.$refs.form.validate()
			       // },
		        reset () {
		          this.$refs.form.reset()
		        },
		        resetValidation () {
		          this.$refs.form.resetValidation()
		        },
		      },
		      
	  delimiters: ['<%', '%>'],
	})
</script>


{{> inc/footer}}
