{{> inc/header}}

<v-app >
<v-app >
 <v-btn>
 	<a href="/boardLeCrabeVampire"><v-icon>mdi-home</v-icon></a> 
 </v-btn>

  <v-form ref="form"  v-model="valid" lazy-validation>



    <v-text-field v-model="newAdoptant.mail" :rules="emailRules" label="mail"  required ></v-text-field>
    
    <v-text-field v-model="newAdoptant.nom" :rules="Rules" label="nom"  required ></v-text-field>

    
    <v-text-field v-model="newAdoptant.prenom" :rules="Rules" label="prenom"  required ></v-text-field>
    
    <v-text-field v-model="newAdoptant.datenaiss" :rules="Rules" label="Date Naissance (YY-MM-DD)"  required ></v-text-field>
    
    <v-text-field v-model="newAdoptant.ville" :rules="Rules" label="ville"  required ></v-text-field>
    

  	<v-text-field v-model="newAdoptant.cp" :rules="CPRules" label="cp"  required ></v-text-field>

    
    <v-text-field v-model="newAdoptant.numeroetrue" :rules="Rules" label="Numero et rue"  required ></v-text-field>
    
    <v-text-field v-model="newAdoptant.complementad" :counter="100" :rules="Rules" label="complementad"  required></v-text-field>
	
	<v-text-field v-model="newAdoptant.telfixe" :rules="TelRules" label="Téléphone Fixe"  required ></v-text-field>
	
	<v-text-field v-model="newAdoptant.telmobile" :rules="TelRules" label="Téléphone mobile"  required ></v-text-field>

	<v-text-field v-model="newAdoptant.infocomplementaires" :rules="Rules" label="info Complementaires"  required ></v-text-field>

    <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate" > Validate </v-btn>

    <v-btn color="error" class="mr-4" @click="reset">Reset Form</v-btn>

    <v-btn color="warning" @click="resetValidation">Reset Validation</v-btn>
  </v-form>

</v-app>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.9/vuetify.min.js"></script>

{{{vue}}}



{{> inc/footer}}

