{{> inc/header }}
        <h1>Page des tests de fonctionnalitees !</h1>
        
      
<div class="ui relaxed divided list">
  <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" href="">Consulter la fiche d'un animal</a>
      <div class="description">Updated 10 mins ago</div>
    </div>
  </div>
  <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" href="">Consulter la fiche d'un adoptant</a>
      <div class="description">Updated 22 mins ago</div>
    </div>
  </div>
  <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" href="">Voir certaine listes specifique</a>
      <div class="description">Updated 34 mins ago</div>
    </div>
  </div>
    <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" href="">Acceder directement a certaines listes d'animaux</a>
      <div class="description">Updated 22 mins ago</div>
    </div>
  </div>
    <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" href="">Obtenir une liste d'animaux</a>
      <div class="description">Updated 22 mins ago</div>
    </div>
  </div>
     <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" href="">CRUD EMPLOYE</a>
      <div class="description">Updated 22 mins ago</div>
    </div>
  </div>
   <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" href="">CRUD Admin</a>
      <div class="description">Updated 22 mins ago</div>
    </div>
  </div>
  
  
</div>
        
        
        <p>Cliquez <a href="/hello">ici</a> pour se connecter</p>
{{> inc/footer }}