{{> inc/header }}
        <h1>Page des tests de fonctionnalitees !</h1>
        
      
<div class="ui relaxed divided list">
<div class="item">
    
    <div class="content">
      <a class="header" href="/animal">  <i class="large github middle aligned icon"></i> Pages Visiteurs</a>
      <div class="description">
      <ul>
      <li> Afficher-Obtenir liste animaux <i class=" green thumbs up icon"></i></li>
      <li>Consulter la fiche d'un animal <i class=" green thumbs up icon"></i></li>
      <li>Voir certaine listes specifique (sos</li>
      <li>Recherche par critere</li>
      </ul>
      </div>
    </div>
  </div>
    <div class="item">
    <div class="content">
      <a class="header" href="employe">  <i class="  large github middle aligned icon"></i> Tableau de bord Employe </a>
      <div class="description">
        <ul>
      <li> Acceder directement a certaines listes d'animaux</li>
      <li>Afficher adoptant /Consulter la fiche d'un adoptant</li>
      <li>Ajout/modifier un adoptant</li>
      <li>Ajout/modifier animaux</li>
      <li>Consulter la fiche d'un adoptant</li>
      <li>Se connecter</li>
      <li>CRUD EMPLOYE</li>
      </ul>
       </div>
    </div>
  </div>
   <div class="item">
    <div class="content">
      <a class="header" href="">  <i class="large github middle aligned icon"></i>Tableau de bord Admin</a>
      <div class="description">
      <ul>
      	<li> CRUD Admin</li>
      </ul>
     
      </div>
    </div>
  
  
  
</div>
        
        
        <p>Cliquez <a href="/hello">ici</a> pour se connecter</p>
{{> inc/footer }}