{{> inc/header }}


<v-app>

  <v-card flat tile>
  
    <v-toolbar dark  extended  dense>

      <v-toolbar-title><a class="white--text" href="/">SpAnimals</a></v-toolbar-title>

      <v-spacer></v-spacer>

   

      <template v-slot:extension>
        <v-tabs >
        <v-tab><a class="white--text" href="/"><v-icon>mdi-home</v-icon></a></v-tab>
          <v-tab><a class="white--text" href="/animal">Adopter</a></v-tab>
           <v-tab><a class="white--text"  href="/informations">Informations</a></v-tab>
           <v-tab><a class="white--text"  href="/contact">Contact</a></v-tab>
        </v-tabs>
      
      </template>
    </v-toolbar>
    <v-sheet
      id="scrolling-techniques-4"
      class="overflow-y-auto"
      max-height="600"
    >
    </v-sheet>
  </v-card>
  
  


</v-app>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.9/vuetify.min.js"></script>
<script>
var app = new Vue({
	  el: 'v-app',
	  vuetify: new Vuetify(),
		    data: () => ({
		    }),
	  delimiters: ['<%', '%>'],
	})

</script>
{{> inc/footer }}