{{> inc/header}}


<h1>Animaux</h1>
<form method="post" action="search">
<select class="ui dropdown" name="espece">
  <option value="">espece</option>
{{#especes}}
  <option value="1">{{libelle}}</option>
{{/especes}}
</select>

<div class="ui input">
<input type="text" placeholder="race" name="race">
</div>

<select class="ui dropdown" name="refuge">
  <option value="">Refuge</option>
{{#refuges}}
  <option value="1">{{nom}}</option>
{{/refuges}}
</select>

<select class="ui dropdown">
  <option value="">Sexe</option>
  <option value="1">Male</option>
  <option value="0">Femelle</option>
</select>

<div class="ui input">
<input type="text" placeholder="Age" name="age">
</div>

<div class="ui input">
<input type="text" placeholder="Nom" name="nom">
</div>

<button>Rechercher</button>
</form>

{{> inc/footer}}